<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
<div  class="jvm-navbar">
  <div class="navbar-header">
    <%= link_to "BÜHNE FREI FÜR:", "./home", class: "beuhne" %>
  </div>
  <div class="navbar-links-div">
    <ul class="navbar-links-list">
      <li class="nav-item">
        <%= link_to "AKT", "./home", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "...1", "./aufgabe1", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "...2", "./aufgabe2", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "...3", "./aufgabe3", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
</body>
</html>



