

.burger-banner-div {
  width: 100%;
  height: 100%;
  position: absolut;
}

.burger-banner {
  width: 100%;
  height: 100%;
}

.audio {
  width: 22%;
  position: relative;
  z-index: 1;
  margin-top: -35%;
  margin-left: 40%;
}
